<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc -sb">
                <ul>
                    <li class="p-hamburger">
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/search-icon.png" alt="the icon for search"  width=20 height=20/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" routerLinkActive="['is-active']">HOME</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a routerLink="../portfolio" routerLinkActive="active">portfolio</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li>
                    <li>
                        <a routerLink="../blogs" routerLinkActive="active">Blogs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>