<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Web Developer</span>
                <h1 class="mt-4">Niraj Jena</h1>
                <p class="p-des">Courteous and enthusiastic, I am interested in IT and everything in its orbit. I recently began to be fascinated by web programming, e.g. developing apps and building websites. Invited to join my friend's start-up company as a front-end developer, I gained experience of working in this area. 
                    As this area complements my studies, I am keen to gain more experience in the field. For this reason, I am looking for a company willing to offer me a placement among their developers. In return, I would offer my full commitment, and be a pleasant and friendly addition to your team.
                    I am therefore currently looking for a job or an internship as a front-end developer</p>
                    <a href="#" class="p-readmore">Contact Me <img src="assets/img/mail.png" alt="the icon for contact" width="15" class="ml-2"/></a><br>
                    <a href="https://www.linkedin.com/in/niraj-kumar-jena-500166161">LinkedIn</a><br>
                    <a href="https://www.instagram.com/mein_niraj_hun/" data-toggle="tooltip" title="follow me here too" >instagram </a>
                </div>

                    <div>
                       <h6>Mail me on this address</h6>
                       <!--- <form class="form-inline" autocomplete="off">
                            <div class="form-group">
                                    <input type="email" class="form-control" id="email"
                                    placeholder="Enter your email here" autocomplete="off">
                                    <button class="btn btn-warning">Mail</button>
                            </div>
                        </form> -->
                    </div>
            </div>
        </div>
    </div>
</section>